* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2b283a;
}

h1,
h3,
p {
  margin: 0;
}

/***************************************************************************************/
/* .root {
  display: flex;
  justify-content: center;
  align-items: center;
} */

main {
  margin: 2em auto;
  padding: 2em 3.5em;
  background-color: white;
  width: calc(100% - 2em);
  max-width: 600px;
  border-radius: 10px;
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 25.6px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #2b283a;
  margin-bottom: 1em;
}

.instruction {
  font-size: 13.1072px;
  line-height: 16px;
  letter-spacing: -0.03em;
  color: #4a4e74;
}
.dice {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  justify-items: center;
  justify-content: center;
  row-gap: 2em;
  column-gap: 1em;
  margin: 3em 0;
}

.die-container {
  box-shadow: -5px 6px 5px 1px rgb(0 0 0 / 15%);
  background: #ffffff;
  cursor: pointer;
  padding: 4px;
  width: 50px;
  height: 50px;
  border-radius: 10%;
  max-width: 100%;
}

.die-container:active {
  box-shadow: inset 0px 3px 2px rgba(0, 0, 0, 0.15);
  user-select: none;
}

button {
  font-weight: bold;
  font-size: 16.384px;
  line-height: 19px;
  text-align: center;
  background: #5035ff;
  color: #ffffff;
  border: 0;
  outline: none;
  padding: 0.5em 2em;
  border-radius: 4px;
  cursor: pointer;
}

button:active {
  box-shadow: inset 3px 3px 4px 0px rgb(0 0 0 / 78%);
}

/********************************************************************************************/
/**********************/
/**** Dot styles ******/
/**********************/

.dot {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #2b283a;
}

.one,
.two,
.three,
.four,
.five,
.six {
  display: flex;
}

.one {
  justify-content: center;
  align-items: center;
}

.two {
  justify-content: space-between;
}

.two .dot:nth-of-type(2) {
  align-self: flex-end;
}

.three {
  justify-content: space-between;
}

.three .dot:nth-of-type(2) {
  align-self: center;
}

.three .dot:nth-of-type(3) {
  align-self: flex-end;
}

.four {
  justify-content: space-between;
}

.five {
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.five .column:nth-of-type(2) {
  justify-content: center;
}

.six {
  justify-content: space-between;
}
